#Files created while compilation
*.log
*.aux
*.pdf
*.backup


#Computation results
*.out

#data directories
Python_calculations/data
Python_calculations/images
dinprog/data

#idea project directories
*/.idea
